# Ignore All:
*

# Unignore all files with extensions:
!*.*

# Unignore all directories:
!*/

# Files:
# Object Files:
*.o

# Project Files
*.cbp

# Layout Files
*.layout

# Folders:
.vscode/
bin/
obj/
